html,body{
    #box{
        height: 220px;
        width: 300px;
   background-color: #fff;
   background:url(../img/1.jpg);
   background-size:cover;
    
    }
    #box2{
        height: 220px;
        width: 300px;
   background-color: #fff;
   
    
    }
}